:root {
    --bg-color: #202020;
    --color: #dedede;
    --border-color: rgba(222, 222, 222, 0.25);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fffdfc;
        --color: #202020;
        --border-color: rgba(64, 64, 64, 0.25);
    }
}

html {
    font-size: 22px;
}


@media screen and (max-width: 800px) {
    html {
        font-size: 18px;
    }
}


body {
    font-family: Inter, sans-serif;
    background-color: var(--bg-color);
    color: var(--color);
}

