:root {
    --bg-color: #202020;
    --color: #dedede;
    --border-color: rgba(222, 222, 222, 0.25);
    --map-opacity: 0.75;
    --main-color: #FFA726;

    --elevation-level1: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #fffdfc;
        --color: #202020;
        --border-color: rgba(64, 64, 64, 0.25);
        --map-opacity: 1;
    }
}

html {
    font-size: 22px;
    color: rgba(255, 167, 38, 0.61);
}


@media screen and (max-width: 800px) {
    html {
        font-size: 18px;
    }
}


body {
    font-family: Inter, sans-serif;
    background-color: var(--bg-color);
    color: var(--color);
}

hr {
    margin: 0;
}

.v {
    color: #d2690e;
}

.material-icons {
    user-select: none;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
